body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #004d99;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #004d99; /* Fondo azul */
    color: white; /* Texto en blanco */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
  }
  
  .sidenav a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* División de secciones */
    text-align: center; /* Centro de texto */
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .centered-image {
    transition: opacity 0.3s, background-color 0.3s;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px; /* Ajusta el tamaño según tu preferencia */
    height: auto; /* Para mantener la proporción de la imagen */
    transition: left 0.5s ease; /* Agrega una transición suave al movimiento */
  }

  .centered-image:hover {
    opacity: 0.8; /* Cambia la opacidad al pasar el cursor */
    cursor: pointer; /* Cambia el cursor al pasar el cursor */
  }
  #container {
    display: flex;
    align-items: center;
  }
  
  .section {
    width: 100%;
    padding: 50px 0;
  }
  
  .blue-section {
    background-color: #003366;
    color: white;
  }
  
  .gray-section {
    background-color: #dddddd;
  }

  .gray-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; /* Colocar la imagen a la derecha */
  }
  
  .gray-image {
    width: 40%;
    max-width: 300px;
  }
  
  .gray-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .gray-text {
    width: 55%;
  }
  
  .content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .circle-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
  }
  
  .circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; /* Alineación en la parte superior del centro */
  }
  